# Kakao Map API Key
# Get your API key from: https://developers.kakao.com/
# 1. 카카오 개발자 센터 접속 (https://developers.kakao.com/)
# 2. 내 애플리케이션 > 애플리케이션 추가하기
# 3. 앱 설정 > 플랫폼 > Web 플랫폼 등록 (사이트 도메인 입력)
# 4. 앱 키 > JavaScript 키 복사
VITE_KAKAO_MAP_API_KEY=your_kakao_map_api_key_here
